absl-py==1.0.0
appdirs==1.4.4
args==0.1.0
asgiref==3.3.0
astunparse==1.6.3
beautifulsoup4==4.9.3
blis==0.7.4
bs4==0.0.1
cachetools==4.2.4
catalogue==2.0.6
certifi==2020.12.5
cfgv==3.2.0
chardet==4.0.0
clang==5.0
click==7.1.2
clint==0.5.1
clx-sdk-xms==1.0.0
colorama==0.4.4
comtypes==1.1.8
configparser==5.0.1
crayons==0.4.0
cycler==0.10.0
cymem==2.0.5
Cython==3.0.0a9
dill==0.3.3
distlib==0.3.1
Django==3.1.3
django-crontab==0.7.1
djangorestframework==3.13.1
djangorestframework-jsonapi==5.0.0
dnspython==2.3.0
docopt==0.6.2
docx==0.2.4
email-validator==1.3.1
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.1.0/en_core_web_lg-3.1.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
et-xmlfile==1.1.0
ez-setup==0.9
Faker==8.0.0
filelock==3.0.12
flake8==3.8.4
Flask==1.1.2
flask-mongoengine==1.0.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==1.1.1
flatbuffers==1.12
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
google-play-scraper==1.0.2
grpcio==1.34.1
gTTS==2.2.1
gunicorn==20.0.4
h5py==3.1.0
identify==1.5.13
idna==2.10
img2pdf==0.4.0
inflection==0.5.1
iso8601==0.1.13
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
keras==2.9.0
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
libclang==14.0.1
linkedin-scraper==2.9.0
lxml==4.6.2
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
MLlib==0.0.0
mongoengine==0.27.0
MouseInfo==0.1.3
mtcnn==0.1.0
murmurhash==1.0.5
mysql-connector-python==8.0.28
mysqlclient==2.1.0
networkx==2.6.3
nltk==3.5
nodeenv==1.5.0
numpy==1.22.4
oauthlib==3.1.1
opencv-python==4.4.0.46
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==20.8
pagerank==0.1.2
pandas==1.2.1
pathy==0.6.0
pika==1.2.0
pikepdf==2.5.0
Pillow==8.0.1
pipenv==2020.11.15
pipreqs==0.4.11
playsound==1.2.2
pluggy==0.13.1
pre-commit==2.10.0
preshed==3.0.5
protobuf==3.18.1
py==1.10.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycodestyle==2.6.0
pycorenlp==0.3.0
pydantic==1.8.2
pyflakes==2.2.0
pygame==2.0.1
PyGetWindow==0.0.9
PyJWT==2.0.0
pymongo==4.3.3
PyMsgBox==1.0.9
pyneuroner==1.0.8
pyparsing==3.0.0b1
PyPDF2==1.26.0
pyperclip==1.8.1
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.26
pyspellchecker==0.5.6
pytesseract==0.3.7
python-dateutil==2.8.1
pyttsx3==2.90
PyTweening==1.0.3
pytz==2020.4
pywin32==300
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.24.1
scipy==1.5.4
selenium==3.141.0
Selenium-Screenshot==2.0.0
Send2Trash==1.5.0
sinchsms==1.0.4
six==1.15.0
smart-open==5.2.1
soupsieve==2.2
spacy==3.1.3
spacy-legacy==3.0.8
SpeechRecognition==3.8.1
SQLAlchemy==1.3.22
sqlparse==0.4.1
srsly==2.4.1
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.9.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflowjs==3.6.0
termcolor==1.1.0
text-unidecode==1.3
thinc==8.0.10
threadpoolctl==2.1.0
toml==0.10.2
tox==3.21.3
tqdm==4.56.0
translate==3.5.0
twilio==6.50.1
typer==0.4.0
typing-extensions==3.7.4.3
Unidecode==1.1.2
urllib3==1.26.2
virtualenv==20.2.2
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
wasabi==0.8.2
webdriver-manager==3.3.0
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==3.0.1
xlrd==2.0.1
XlsxWriter==3.0.3
yarg==0.1.9
